openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW XEKKIT Web API'
  description: 'Web Resources Specification (A7) for XEKKIT'

servers:
  - description: 'Production server'
    url: http://lbaw2114-prod.fe.up.pt

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/eap#a7-high-level-architecture-privileges-web-resources-specification
    
tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Create/Edit Content'
  - name: 'M03: See Users/Content'
  - name: 'M04: Search Users/Content'
  - name: 'M05: Notifications'
  - name: 'M06: Create Requests'
  - name: 'M07: Moderator Administration'
  - name: 'M08: Static Pages'

paths:
  # -------------------- M01 --------------------  

  /login/:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show [UI07](hhttps://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/blob/eap/docs/A3.md#ui07:-log-in)'
  
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                inputUsername:          
                  type: string
                inputPassword:  
                  type: string
              required:
                - inputUsername
                - inputPassword

      responses:
        '303':
          description: 'Redirect to main page after successfull login.'
          headers:
            Location: 
              schema:
                type: string
              description: 'Redirect to / [[UI02](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/er#ui02-main-logged-in)]'
        '400':
          description: 'Wrong login credentials.'
              
        
        
                

  /logout/:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, MOD, BAN'
      tags:
        - 'M01: Authentication and Individual Profile'

      responses:
        '303':
          description: 'Redirect after processing the logout.'
          headers:
            Location:
              schema:
                type: string
              description: 'Redirect to / [[US01](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/er#ui01-main)].'
                                           
                                
  /password-recovery/:
    post:
      operationId: R104
      summary: 'R104: Password Recovery Action'
      description: 'Password recovery action. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                inputEmail:
                  type: string
              required:
                - inputEmail

      responses:
        '303':
          description: 'Successful request password recorvery. Redirect to home page.'
          headers:
            Location:
              schema:
                type: string
              description: 'Redirect to / [[US07](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/er#ui07-log-in)].'
                  
                  
  /register/:
    get:
      operationId: R105
      summary: 'R105: See Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show [UI08](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/blob/eap/docs/A3.md#ui08:-sign-Up)'

    post:
      operationId: R106
      summary: 'R106: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                inputUsername:
                  type: string
                inputEmail:
                  type: string
                inputPassword:
                  type: string
                inputBirthDate:
                  type: string
                inputGender:
                  type: string
              required:
                - inputUsername
                - inputEmail
                - inputPassword
                - inputBirthDate
                - inputGender

      responses:
        '303':
          description: 'Redirect after successfully register new user.'
          headers:
            Location:
              schema:
                type: string
              description: 'Redirect to / [[UI02](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/er#ui02-main-logged-in)]'
        '409':
          description: 'Username already in use.'

  /users/{username}/edit/:
    get:
      operationId: R107'
      summary: 'R107: Edit User Profile Form'
      description: 'Form to edit the individual user profile. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true

      responses:
        '200':
          description: 'Ok. Show [UI13](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/blob/eap/docs/A3.md#ui13-edit-profile)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEdit'
        '401':
          description: 'This is not your profile.'

    patch:
        operationId: R108
        summary: 'R108: Edit User Profile Action'
        description: 'Processes the edit user form submission. Access: USR'
        tags:
          - 'M01: Authentication and Individual Profile'
          
        parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true

        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  username:
                    type: string
                  email:
                    type: string
                  birth_date:
                    type: string
                  gender:
                    type: string
                  description:
                    type: string
                required:
                  - username
                  - email
                  - birth_date
                  - gender

        responses:
          '204':
            description: 'User information updated.'
          '403':
            description: 'This is not your profile.'
          '400':
            description: 'Bad Request.'
          '409':
            description: 'Invalid information.'
            content:
              text/plain:
                schema:
                  type: string
                examples: 
                  username:
                    value: 'Username'
                    summary: 'Username already in use.'
                  email:
                    value: 'Email'
                    summary: 'Email already in use.'

  /users/{username}/edit/change-password/:
    patch:
      operationId: R109
      summary: 'R109: Change Password Action'
      description: 'Processes the change user password form submission. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                  format: password
                new_password:
                  type: string
                  format: password
              required:
                - old_password
                - new_password

      responses:
        '204':
          description: 'Password changed successfully.'
        '403':
          description: 'This is not your profile.'
        '400':
          description: 'Bad Request.'
          
  /users/{username}/edit/remove-partner/:
    patch:
      operationId: R110
      summary: 'R110: Remove partner status'
      description: 'Remove partner status. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true

      responses:
        '204':
          description: 'Partner status removed successfully.'
        '403':
          description: 'This is not your profile.'
        '400':
          description: 'Bad Request.'
  
  # -------------------- M02 -------------------- 

  /news/create/:
    post:
      operationId: R201
      summary: 'R201: Create news action'
      description: 'Create news content. Access: USR'
      tags:
        - 'M02: Create/Edit Content'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                body:
                  type: string
                image:
                  type: string
                  format: binary
              required:
                - title
                - body
                
      responses:
        '201':
          description: 'News post created.'
          headers:
            Location:
              schema:
                type: string
              description: 'Redirect to /news/{id} [[UI09](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/er#ui09-post)]'
        '401':
          description: 'Unauthorized, please login.'
        '400':
          description: 'Bad Request.'

  /comment/create/:
    post:
      operationId: R202
      summary: 'R202: Create comment action'
      description: 'Create comment. Access: USR, MOD'
      tags:
        - 'M02: Create/Edit Content'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                body:
                  type: string
                reply_to_id:
                  type: integer
              required:
                - body 
                
      responses:
        '201':
          description: 'Comment created.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '401':
          description: 'Unauthorized, please login.'
        '400':
          description: 'Bad Request.'

  /news/{id}/:
    patch:
      operationId: R203
      summary: 'R203: Edit news action'
      description: 'Edit news content. Access: OWN'
      tags:
        - 'M02: Create/Edit Content'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                body:
                  type: string
                image:
                  type: string
              required:
                - body
                
      responses:
        '205':
          description: 'Successful news edition. Reload news page.'
        '403':
          description: 'This is not your post.'
        '400':
          description: 'Bad Request.'
          
    delete:
      operationId: R204
      summary: 'R204: Delete News action'
      description: 'Delete News. Access: OWN'
      tags:
        - 'M02: Create/Edit Content'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          
      responses:
        '205':
          description: 'News post successfully deleted.'
          headers:
            Location:
              schema:
                type: string
              description: 'Redirect to / [[UI02](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/er#ui02-main-logged-in)]'
        '403':
          description: 'This is not your post.'
        '400':
          description: 'Bad Request.'
           
  /comment/:
    patch:
      operationId: R205
      summary: 'R205: Edit comment action'
      description: 'Edit Comment. Access: OWN'
      tags:
        - 'M02: Create/Edit Content'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                body:
                  type: string
              required:
                - body 
  
      responses:
        '205':
          description: 'Successful comment edition. Reload page.'
        '401':
          description: 'Login to comment.'
        '400':
          description: 'Bad Request.'

    delete:
      operationId: R206
      summary: 'R206: Delete comment action'
      description: 'Delete Comment. Access: OWN'
      tags:
        - 'M02: Create/Edit Content'
      responses:
        '205':
          description: 'Comment successfully deleted. Reload page.'
        '403':
          description: 'This is not your comment.'
        '400':
          description: 'Bad Request.'
      
      parameters:
        - in: header
          name: id
          schema:
            type: integer
          required: true

  # -------------------- M03 -------------------- 

  /:
    get:
      operationId: R301
      summary: 'R301: Home page'
      description: 'Provide home page. Access: PUB, USR, MOD'
      tags:
        - 'M03: See Users/Content'
        
      responses:
        '200':
          description: 'Ok. IF PUB: Show [UI01](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/blob/eap/docs/A3.md#ui01:-main); ELSE: Show [UI02](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/blob/eap/docs/A3.md#ui02:-main-logged-in)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  trending_news:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrendingPost'
                  last_news:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  explore:
                    type: array
                    items:
                      type: string

  /news/{id}:
    get:
      operationId: R302
      summary: 'R302: View a Specific News Post.'
      description: 'Provide Specific News Post. Access: PUB, USR, OWN, MOD'
      tags:
        - 'M03: See Users/Content'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          
      responses:
        '200':
          description: 'Ok. Show [UI09](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/er#ui09-post)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          description: 'News post not found.'

  /users/{username}:
    get:
      operationId: R303
      summary: "R303: View a User's profile"
      description: "Provide a User's Profile. Access: PUB, USR, MOD"
      tags:
        - 'M03: See Users/Content'
        
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
          
      responses:
        '200':
          description: 'Ok. Show [UI11](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/er#ui11-third-party-profile)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  trending_news:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrendingPost'
                  last_news:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  following:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserPreview'
        '404':
          description: 'User not found.'
  
  /vote/:         
    post:
      operationId: R304
      summary: 'R304: Upvote/Downvote Content'
      description: 'Upvote/Downvote content. Access: USR'
      tags:
        - 'M03: See Users/Content'
        
      parameters:
        - in: header
          name: content_id
          schema:
            type: integer
          required: true
        - in: header
          name: upvote
          schema:
            type: boolean
          required: true
                
      responses:
        '201':
          description: 'Successfully voted on content.'
        '401':
          description: 'Login to vote.'
        '400':
          description: 'Bad Request.'
          
    delete:
      operationId: R305
      summary: 'R305: Delete Vote on Content'
      description: 'Delete Vote on Content. Access: USR'
      tags:
        - 'M03: See Users/Content'

      parameters:
        - in: header
          name: content_id
          schema:
            type: integer
          required: true
          
      responses:
        '204':
          description: 'Successfully removed vote on content.'
        '400':
          description: 'Bad Request.'
  
  # -------------------- M04 -------------------- 
 
  /search/:
    get:
      operationId: R401
      summary: 'R401: Search News and Users'
      description: 'Provide News and Users Searched. Access: PUB, USR, OWN, MOD'
      tags:
        - 'M04: Search Users/Content'
        
      parameters:
        - in: query
          name: search
          schema:
            type: string
          required: false
          allowReserved: true
          
      responses:
        '200':
          description: "Ok. Show [UI10](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/er#ui10-search)"
          content: 
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserPreview'
        '400':
          description: 'Bad Request.'
                    

  # -------------------- M05 -------------------- 

  /notifications/:
    get:
      operationId: R501
      summary: "R501: View User's Notification"
      description: "Provide User's Notifications. Access: USR, MOD"
      tags:
        - 'M05: Notifications' 
        
      responses:
        '200':
          description: 'Ok. Show [UI15](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/er#ui15-notifications). If MOD also show [UI16](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/wikis/er#ui16-moderator-options)'
          content: 
            application/json:
              schema:
                type: object
                properties:
                  follows:
                    type: array
                    items:
                      $ref: '#/components/schemas/FollowNotification'
                  votes:
                    type: array
                    items:
                      $ref: '#/components/schemas/VoteNotification'
                  comments:
                    type: array
                    items:
                      $ref: '#/components/schemas/CommentNotification'
                  moderator:
                    type: array
                    items:
                      $ref: '#/components/schemas/ModeratorNotification'
                    default: []
        '401':
          description: 'Login to see notifications.'
          
    patch:
      operationId: R502
      summary: "R502: Mark Notification as seen"
      description: "Mark Notification as seen. Access: USR, MOD"
      tags:
        - 'M05: Notifications'
        
      parameters:
        - in: header
          name: notification
          schema:
            type: object
            properties:
              notification_type:
                type: string
              id1:
                type: integer
              id2:
                type: integer
            required:
              - notification_type
              - id1
          required: true

        
      responses: 
        '201':
          description: 'Notification marked as seen.'
        '401':
          description: 'Login to see notifications.'
        '400':
          description: 'Bad request.'
          
    delete:
      operationId: R503
      summary: "R503: Delete Notification"
      description: "Dark Notification."
      tags:
        - 'M05: Notifications'
        
      parameters:
        - in: header
          name: notification
          schema:
            type: object
            properties:
              notification_type:
                type: string
              id1:
                type: integer
              id2:
                type: integer
            required:
              - notification_type
              - id1
          required: true
        
      responses: 
        '201':
          description: 'Notification deleted.'
        '401':
          description: 'Login to see notifications.'
        '400':
          description: 'Bad request.'
  
  
  # -------------------- M06 --------------------
  
  /comment/report/:         
    post:
      operationId: R601
      summary: "R601: Report comment action"
      description: 'Report comment. Access: USR'
      tags:
        - 'M06: Create Requests'
        
      parameters:
        - in: header
          name: id
          schema:
            type: integer
          required: true
        
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                body:
                  type: string
              required:
                - body 
          
      responses:
        '201':
          description: 'Report created.'
        '401':
          description: 'Login to report.'
        '400':
          description: 'Bad request.'
          
  /news/{id}/report/:         
    post:
      operationId: R602
      summary: "R602: Report news action"
      description: 'Report news. Access: USR'
      tags:
        - 'M06: Create Requests'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                body:
                  type: string
              required:
                - body 
          
      responses:
        '201':
          description: 'Report created.'
        '401':
          description: 'Login to report.'
        '400':
          description: 'Bad request.'

  /users/{username}/report/:         
    post:
      operationId: R603
      summary: "R603: Report User action"
      description: 'Report User. Access: USR, MOD'
      tags:
        - 'M06: Create Requests'

      parameters:
        - in: path
          name: username
          schema:
            type: integer
          required: true
          
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                body:
                  type: string
              required:
                - body 
          
      responses:
        '201':
          description: 'Report created.'
        '401':
          description: 'Login to report.'
        '400':
          description: 'Bad request.'
  
  /users/{username}/partner_request/:
    post:
      operationId: R604
      summary: "R604: Create partner request action"
      description: 'Create a partner request. Access: USR, MOD'
      tags:
        - 'M06: Create Requests'
      
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reason:
                  type: string
              required:
                - reason
                
      responses:
        '201':
          description: 'Partner request created.'
        '401':
          description: 'Login to create a partner request.'
        '400':
          description: 'Bad request.'

  /request/{username}/unban_appeal/:
    post:
      operationId: R605
      summary: "R605: Create unban appeal action"
      description: 'Create unban appeal. Access: BAN'
      tags:
        - 'M06: Create Requests'
      
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reason:
                  type: string
              required:
                - reason
      
      responses:
        '201':
          description: 'Unban appeal created.'
        '401':
          description: 'Login to create an unban appeal.'
        '400':
          description: 'Bad request.'
  
  # -------------------- M07 --------------------

  /request/{id}/accept/:
    patch:
      operationId: R702
      summary: "R702: Accept Request"
      description: 'Accept Request. Access: MOD'
      tags:
        - 'M07: Moderator Administration'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: header
          name: ban_time
          schema:
            type: integer
          required: false
          
      responses:
        '201':
          description: 'Request accepted.'
        '401':
          description: 'You are not a moderator.'
        '400':
          description: 'Bad request.'

  /request/{id}/reject/:
    patch:
      operationId: R703
      summary: "R703: Accept Request"
      description: 'Accept Request. Access: MOD'
      tags:
        - 'M07: Moderator Administration'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          
      responses:
        '201':
          description: 'Request rejected.'
        '401':
          description: 'You are not a moderator.'
        '400':
          description: 'Bad request.'
          

  # -------------------- M08 --------------------

  /faq/:
    get:
      operationId: R801
      summary: 'R801: See FAQ'
      description: 'Frequent asked questions page. Access: PUB, USR, MOD'
      tags:
        - 'M08: Static Pages'

      responses:
        '200':
          description: 'Ok. IF PUB, USR Show [UI05](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/blob/eap/docs/A3.md#ui05-faq)
                            IF MOD Show [UI06](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/blob/eap/docs/A3.md#ui06-edit-faq-as-moderator'
          content: 
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Faq'
                      
    post:
      operationId: R802
      summary: 'R802: Create FAQ'
      description: 'Creat frequent asked question. Access: MOD'
      tags:
        - 'M08: Static Pages'
      
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - question
                - answer
              properties:
                id:
                  type: integer
                question:
                  type: string
                answer:
                  type: string
                  
      responses:
        '201':
          description: 'FAQ Created. Reload FAQ page.'
        '403':
          description: 'Forbiden Access'
        '400':
          description: 'Bad Request.'
          
    patch:
      operationId: R803
      summary: 'R802: Edit FAQ'
      description: 'Edit frequent asked question. Access: MOD'
      tags:
        - 'M08: Static Pages'
      
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - question
                - answer
              properties:
                id:
                  type: integer
                question:
                  type: string
                answer:
                  type: string
                  
      responses:
        '205':
          description: 'FAQ Edited. Reload FAQ page.'
        '403':
          description: 'Forbiden Access'
        '404':
          description: 'FAQ Not Found'
             
                  
    delete:
      operationId: R804
      summary: 'R803: Delete FAQ'
      description: 'Delete frequently asked question. Access: MOD'
      tags:
        - 'M08: Static Pages'
      
      responses:
        '205':
          description: 'FAQ Deleted. Reload FAQ page.'
        '403':
          description: 'Forbiden Access'
        '404':
          description: 'FAQ Not Found'
          
      parameters:
        - in: query
          name: id
          schema:
            type: integer
          required: true
                
    

  /about/:
    get:
      operationId: R805
      summary: 'R804: About'
      description: 'About page. Access: PUB, USR, MOD'
      tags:
        - 'M08: Static Pages'

      responses:
        '200':
          description: 'Ok. Show [UI04](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2114/-/blob/eap/docs/A3.md#ui04-about)'
          
          
# -------------------- Components --------------------
  
components:
  schemas:
    Post:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        image:
          type: string
        nr_votes:
          type: integer
        nr_comments:
          type: integer
        body:
          type: string
        date:
          type: string
        author:
          type: string
        partner:
          type: boolean
        deleted:
          type: boolean
          default: false
        banned:
          type: boolean
          default: false
        tags:
          type: array
          items:
            type: string
        comments:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
          default: []
          
    TrendingPost:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        image:
          type: string
        date:
          type: string
        author:
          type: string
        partner:
          type: boolean


    UserPreview:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        partner:
          type: boolean
        photo:
          type: string
        reputation:
          type: string
    
    User:
      type: object
      properties:
        username:
          type: string
        description:
          type: string
        photo:
          type: string
        deleted:
          type: boolean
        banned:
          type: boolean
        reputation:
          type: integer
        partner:
          type: boolean
        moderator:
          type: boolean
    
    UserEdit:
      type: object
      properties:
        username:
          type: string
        description:
          type: string
        photo:
          type: string
        deleted:
          type: boolean
        banned:
          type: boolean
        reputation:
          type: integer
        partner:
          type: boolean
        moderator:
          type: boolean
        email:
          type: string
        birthdate:
          type: string
        gender:
          type: string
          
    Comment:
      type: object
      properties:
        id:
          type: integer
        body:
          type: string
        date:
          type: string
        nr_votes:
          type: string
        username:
          type: string
        partner:
          type: boolean
        deleted:
          type: boolean
        banned:
          type: boolean
        reply_to:
          type: integer
        
    FollowNotification:
      type: object
      properties:
        follower_id:
          type: integer
        is_new:
          type: boolean
        date:
          type: string
    
    VoteNotification:
      type: object
      properties:
        voter_id:
          type: integer
        content_id:
          type: integer
        is_new:
          type: boolean
        date:
          type: string

      
    CommentNotification:
      type: object
      properties:
        comment_id:
          type: integer
        is_new:
          type: boolean
        date:
          type: string


    ModeratorNotification:
      type: object
      properties:
        id:
          type: integer
        from_id:
          type: string
        moderator_id:
          type: string
        reason:
          type: string
        creation_date:
          type: string
        status:
          type: string
        revision_date:
          type: boolean
        to_users_id:
          type: boolean
        to_content_id:
          type: boolean
        ban_id:
          type: integer
          
    Faq:
      type: object
      properties:
        id:
          type: integer
        question:
          type: string
        answer:
          type: string
