@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
$border-radius-size: 14px;




#trending {
    margin: auto;

    width: 960px;
    text-align: center;
}

.wrapper {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.card {

    width: 300px;
    height: 200px;
    display: inline-block;
    margin-top: 5em;
    margin-right: 40px;
    border-radius: $border-radius-size + 5;
    position: relative;
    text-align: center;
}


.card_image {
    
    position: absolute;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));

    margin-bottom: 10px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;

    img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        top: -65px;
        left: -70px;
    }
}

.card_text {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

.card_title {
    
    font-size: 26px;
    font-weight: 900;
    display: block;
    margin-top: 100px;
}

.card_date {
    position: absolute;
    font-size: smaller;
    bottom: 0.85em;
    left: 0.7em;
}

.card_author {
    position: absolute;
    bottom: 0.7em;
    right: 0em;
}

.card_tags>a:before {
    content: "#";
}

button.prev,
button.next {
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #333;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

button.prev {
    cursor: pointer;
    position: absolute;
    left: 100px;
    top: 200px;
}

button.next {
    cursor: pointer;
    position: absolute;
    right: 100px;
    top: 200px;
}