* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #0A100D;
}


button,
input {
    border: 0;
    outline: none;
    background: none;
    text-decoration: none;
}
