#catch-phrase h2{
    display: inline;
}

#catch-phrase button{
    margin-left: 1em;
}

#catch-phrase {
    display: flex;
    justify-content:center ;
    margin-bottom: 1em;
}

.custom-file-upload {
    font-size: small;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    transition: 0.3s;
  }

  .custom-file-upload:hover {
    color: #69c97e;
  }
  input[type='file'] {
    display: none;
  }

