.partner-request>.card-body p.card-text,
.comment-notification>.card-body p.card-text{
    background-color: #000;
    margin-top: 0;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    border-style: solid;
    border-color: grey;
    border-radius: 1em;
}
