aside{
    position: sticky;
    top: 60px;
}

@media (min-width: 1000px){
    .search {
        display: grid;
        gap: 1rem;
        grid-template-columns: 2fr 4fr;
        grid-template-rows: auto;
    }
}

.form-select{
    background-color: rgb(43, 43, 43);
}