
/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #308643;
    background-color: #ffffff;
    border-color: #f0f9f2;
}

.alert-primary hr {
    border-top-color: #ddf2e1;
}

.alert-primary .alert-link {
    color: #236130;
}

.badge-primary {
    color: #212529;
    background-color: #69c97e;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #212529;
    background-color: #43bb5d;
}

.bg-primary {
    background-color: #69c97e !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #43bb5d !important;
}

.border-primary {
    border-color: #69c97e !important;
}

.btn-primary {
    color: #212529;
    background-color: #69c97e;
    border-color: #69c97e;
}

.btn-primary:hover {
    color: #212529;
    background-color: #4ebf67;
    border-color: #43bb5d;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 201, 126, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #212529;
    background-color: #69c97e;
    border-color: #69c97e;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #43bb5d;
    border-color: #3fb058;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 201, 126, 0.5);
}

.btn-outline-primary {
    color: #69c97e;
    background-color: transparent;
    border-color: #69c97e;
}

.btn-outline-primary:hover {
    color: #212529;
    background-color: #69c97e;
    border-color: #69c97e;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 201, 126, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #69c97e;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #69c97e;
    border-color: #69c97e;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 201, 126, 0.5);
}

.list-group-item-primary {
    color: #308643;
    background-color: #f0f9f2;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #308643;
    background-color: #ddf2e1;
}

.list-group-item-primary.list-group-item-action.active {
    color: #212529;
    background-color: #308643;
    border-color: #308643;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #f0f9f2;
}

.table-hover .table-primary:hover {
    background-color: #ddf2e1;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #ddf2e1;
}

.text-primary {
    color: #69c97e !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #43bb5d !important;
}

/*-------*/


.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #69c97e;
    border-color: #69c97e;
    box-shadow: 0 0 0 .25rem rgba(105, 201, 126, 0.5);
}


.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #308643;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(105, 201, 126, 0.5);
}

.accordion-button:focus {
    border-color: #308643;
        border-right-color: rgb(134, 183, 254);
        border-left-color: rgb(134, 183, 254);
    box-shadow: 0 0 0 .25rem rgba(105, 201, 126, 0.5);
}

.btn-close:focus {
    box-shadow: 0 0 0 .25rem rgba(105, 201, 126, 0.5);
}
