* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
  }
  
  body {
    
    background-color: var(--background);
  }
  
  *,
  button,
  input {
    border: 0;
    outline: none;
    background: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: black;
  }
  
  .clickable {
    transition: 0.2s;
  }
  
  .clickable:hover {
    transform: scale(1.1);
  }
  
  :root {
    --background: #0A100D;
    --soft-color: #39393A;
    --hard-color: #88D498;
    --text-color: white;
    --error-color: rgba(255, 30, 30, 0.85);
    --border-radius: 10px;
    --box-shadow: 0px 0px 0px 10px var(--background);
    --text-font: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    background-color: var(--soft-color);
  }